<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<style>
	   /*清除默认样式*/
	    body{
	    	margin:0;
	    	padding:0;
	    }
		.top{
			height:100px;
			background:#99ffff;
		}
		.head{
			height:100px;
			width:800px;
			background:#99ffcc;
			margin:0 auto; 
		}
		.main{
			height:500px;
			width:800px;
			margin:0 auto;
            background:#99ccff;
		}
		.footer{
			height:100px;
			width:800px;
			margin:0 auto;
            background:#99ffff;
		}
	</style>
</head>
<body>
<div class="top">
	<div class="head"></div>
</div>
<div class="main"></div>
<div class="footer"></div>	
</body>

</html>
